* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-eng);
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}



body {
  background: var(--base-100);
  color: var(--font-color);
  transition: background 0.8s, color 0.8s;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 23px 13%;
  transition: all .40s ease;
  z-index: 1000000000001;
}

.logo img {
  height: auto;
  width: 160px;
  max-width: 100%;
  /* -webkit-user-drag: none;
  user-drag: none; */
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--font-color);
  font-weight: 600;
  font-size: var(--p-font);
  padding: 10px 22px;
  transition: all .40s ease;
}

.navbar a:hover {
  color: var(--secondary);
}

.header-icons{
display: flex;
align-items: center;
}

.header-icons i{
margin-left: 10px;
font-size: 24px;
color: var(--font-color);
transition: all .40s ease;
margin-right: 15px;
}

.header-icons i:hover{
transform: scale(1.2);
color: var(--secondary);
}

#menu-icon {
  font-size: 34px;
  color: var(--font-color);
  z-index: 1001;
  cursor: pointer;
  display: none;
}


section {
  padding: 80px 2%;
}

header.sticky {
  background: var(--glass-bg);
  padding: 0px 13%;
  box-shadow: var(--glass-bg-box-shadow);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  backdrop-filter: var(--glass-backdrop-filter);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.home-container {
  padding: 70px 13%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.home-container-box {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: -11.729px -11.729px 32px rgb(255, 255, 255 / 15%);
  transition: all 0.40s ease;
  background: var(--glass-bg);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  backdrop-filter: var(--glass-backdrop-filter);
  border: var(--glass-border)
}

.home-container-box:hover {
  transform: translateY(-10px);
  box-shadow: var(--glass-bg-box-shadow);
}

.home-container-text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.home-container-text p {
  font-size: var(--p-font);
  color: var(--font-color);
  font-weight: 500;
}

.center-text {
  text-align: center;
}

.center-text h5 {
  color: var(--primary);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.center-text h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
}

.categories {
  padding: 70px 13%;
}

.categories-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-top: 4rem;
}

.box img {
  height: auto;
  width: 110px;
  margin-bottom: 20px;
}

.box {
  padding: 25px 60px;
  border-radius: 20px;
  box-shadow: -11.729px -11.729px 32px rgb(255, 255, 255 / 15%);
  transition: all 0.40s ease;
  background: var(--glass-bg);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  backdrop-filter: var(--glass-backdrop-filter);
  border: var(--glass-border)
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: var(--glass-bg-box-shadow);
}

.box h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  transition: all .40s ease;
}

.box h3:hover {
  color: var(--primary);
}

.box p {
  font-size: var(--p-font);
  color: var(--font-color);
  font-weight: 500;
}

.main-btn {
  text-align: center;
  margin-top: 5rem;
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  font-size: var(--p-font);
  font-weight: 700;

  border: none;
  background: #b177ff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  color: #f9f9f9;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: 0.1s ease;
}

.btn:hover {
  background: #9c52ff;
  border: 1px solid rgb(255 255 255 / 5%);
  transition: 0.1s ease;
}

.btn:active {
  background: #7244b0;
  color: #ada5c7;
  border: 1px solid rgba(0,0,0,0);
  transition: 0.1s ease;
}

.courses {
  padding: 70px 13%;
  background: url(../auth/bbblurry.svg);
  background-size: cover;
  background-position: center;
}

.courses-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 4rem;
  cursor: pointer;
  border-radius: 15px;
}

.row {
  padding: 0 0 10px 0;
  border-radius: 20px;
  transition: all .40s ease;
  background: var(--glass-bg);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  backdrop-filter: var(--glass-backdrop-filter);
  border: var(--glass-border);
}

.row:hover {
  transform: translateY(-15px);
  background: var(--glass-hover-bg);
  box-shadow: var(--glass-bg-box-shadow);
}

.row img {
  width: 100%;
  /* height: 320px; */
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  background: var(--glass-bg);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  backdrop-filter: var(--glass-backdrop-filter);
}

.courses-text {
  padding: 35px 20px;
}

.courses-text h5 {
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
}

.courses-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 15px 0 15px;
  transition: all .40s ease;
}

.courses-text h3:hover {
  color: var(--primary);
}

.courses-text h6 {
  color: var(--neutral);
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.star i {
  color: var(--primary);
  margin-right: 2px;
  font-size: 17px;
}

.review p {
  color: var(--neutral);
  font-size: var(--p-font);
  font-weight: 400;
  letter-spacing: 1px;
}

.cta {
  padding: 70px 13%;
}

.cta-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, auto));
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.cta-content .cta-img img {
  height: 90px;
  width: 100%;
}

.about {
  padding: 70px 13%;
  background: url(../auth/bbblurry.svg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about-img {
  width: 100%;
  height: auto;
}

.about-img img {
  width: 450px;
}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
  margin-bottom: 20px;
}

.about-text p {
  font-size: var(--p-font);
  color: var(--neutral);
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}

.about-text h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-text h5 {
  font-size: 20px;
  margin-bottom: 40px;
}

.contact {
  padding: 60px 13%;
  background: var(--base-100);
}

.main-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  align-items: center;
}

.footer-logo {
  height: auto;
  width: 160px;
  max-width: 100%;
  margin-bottom: 30px;
}

.contact-icons {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.contact-content li {
  margin-bottom: 18px;
  align-items: center;
}

.contact-content li a {
  display: block;
  color: var(--font-color);
  font-weight: 500;
  font-size: 15px;
  transition: all .40s ease;
}

.contact-content li a:hover {
  transform: translateX(10px);
  color: var(--primary);
}

.last-text p {
  text-align: center;
  padding: 18px;
  color: var(--secondary);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}


/* Slider */
.slider {
  width: 100%;
  max-width: 100vw;
  padding: 0 50px;
  margin: 25px auto 0;
  height: 80vh;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}
.slider ul, .slider ul li {
  width: 100%;
  height: 100%
}
.slider ul {
  position: relative;
  overflow: hidden;
  border-radius: 15px
}
.slider ul li {
  position: absolute;
  top: 0;
  left: -100%;
  background-size: cover; /* semon #f98686 */
  background-position: center;
  color: #fff;
  font-family: serif;
}
.slider ul li:first-of-type {
  background-image: url("../img/courses/wa.jpg")
}
.slider ul li:nth-of-type(2) {
  background-image: url("../img/banner/1.jpg")
}
.slider ul li:nth-of-type(3) {
  background-image: url("../img/banner/2.jpg")
}
.slider ul li:nth-of-type(4) {
  background-image: url("../img/banner/3.jpg")
}
.slider ul li:last-of-type {
  background-image: url("../img/banner/3.jpg")
}
.slider .controll {
  position: absolute;
  top: 45%;
  cursor: pointer;
  padding: 15px 2px 12px 2px;
  background: var(--glass-btn-bg);
  box-shadow: var(--glass-btn-box-shadow);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 4px;
}

.slider .controll i {
  font-size: 15px;
  color: #837f90;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.slider .controll:hover i {
  color: var(--font-color)
}

.slider .controll:first-of-type {
  left: 20px
}
.slider .controll:last-of-type {
  right: 20px
}
.slider .controll:hover, .slider .controll.active {
  border-color: #f98686; /* rose */
}
.slider ol {
  text-align: center;
  padding-top: 10px
}
.slider ol li {
  display: inline-block;
  margin-right: 5px;
}
.slider ol .fa {
  font-size: 20px;
  color: var(--font-color);
  cursor: pointer;
  font-weight: normal;
}
.slider ol li:hover .fa:before, .slider ol li.active .fa:before {
  content: "\f111"
}
/* .slider ul li.active {
  z-index: 999;
  left: 0
} */
@media(max-width: 490px) {

}
@media(max-width: 350px) {

}