* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

@keyframes rotate {
  100% {
    background-position: 0% 50%;
  }
}

body {
  display: grid;
  place-items: center;
  background-color: #000000;
  background-image: url("bbblurry.svg");
  background-repeat: no-repeat;
  background-size: 300vh;
  color: #868b94;
  animation: rotate 5s infinite alternate linear;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.control {
  border: 0;
  outline: none;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: #f9f9f9;
  margin: 8px 0;
  text-align: left;
  font-size: 16px;
  transition: 0.4s;
}

.card {
  display: flex;
}



.login-card {
  max-height: -moz-fit-content;
  padding: 50px 30px 32px;
  background: linear-gradient(45deg, black, transparent);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
  margin: 40px 0;
  margin-left: 50px;
	max-width: -moz-fit-content;
}

.login-card > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 6px;
  color: #f9f9f9;
}

.login-form h5 {
	margin-top: 20px;
}

.login-card h5 a {
  text-decoration: none;
  color: #f9f9f9;
}

.login-card h5 a:hover {
	color:#b177ff;
	transition: 0.2s all;
}

.login-card img {
  width: 120px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin-bottom: 10px;
}

.login-card > h3 {
  color: #837f90;
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
}

.login-form input.control::placeholder {
  color: #868b94;
}

.login-form > button.control {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #f9f9f9;
  color: #000000;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

.username {
  position: relative;
}

.phone-input {
  display: flex;
  align-items: center;
}

.mobileNumber {
  margin-left: 8px;
  flex-grow: 1;
}

.countryCode {
  max-width: -moz-fit-content;
}

.control.countryCode option {
  background: rgba(255, 255, 255, 0.5); /* Change the background color */
  padding: 5px 10px; /* Add padding */
  font-size: 14px; /* Set font size */
  color: #333; /* Set font color */
  border-radius: 3px; /* Add rounded corners */
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  right: 16px;
  translate: 0 -50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #ccc9e1;
  border-top-color: #8f44fd;
  opacity: 0;
  animation: spin 1s infinite linear;
}

.spinner.visible {
  opacity: 1;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bars {
  margin: 8px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
}

#bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0%;
}

#bars.weak div {
  background: #bc2b38;
  width: 33.33%;
}

#bars.medium div {
  background: #d36f30;
  width: 66.66%;
}

#bars.strong div {
  background: #1eb965;
  width: 100%;
}

.strength {
  text-align: left;
  height: 30px;
  text-transform: capitalize;
}




.btn {
  border: 0;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  margin: 8px 0;
  font-size: 16px;
  


  
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.btn p {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: white;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	webkit-backdrop-filter: blur(15px);
}
.btn:hover p {
	letter-spacing: 3px;
}
.btn p::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.btn:hover p::before {
	transform: skewX(45deg) translate(200px);
}
.btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #6c4bc48f;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 90%;
	width: 80%;
	border-radius: 30px;
}

.btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #6c4bc48c;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn:hover::after /*lightup button*/ {
	top: 0;
	height: 90%;
	width: 80%;
	border-radius: 30px;
}
.btn:nth-child(1)::before, /*chnage 1*/
.btn:nth-child(1)::after {
	background: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}
.btn:nth-child(2)::before, /* 2*/
.btn:nth-child(2)::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
}
.btn:nth-child(3)::before, /* 3*/
.btn:nth-child(3)::after {
	background: #00bfff;
	box-shadow: 0 0 5px #00bfff, 0 0 15px #00bfff, 0 0 30px #00bfff, 0 0 60px #00bfff;
}

input {
	outline: none;
	border: none;
	border-bottom: 3px solid #837f907d !important;
}

input:hover {
	background: rgb(255 255 255 / 15%);
	transition: 0.1s all;
}

input:focus, input:focus:hover {
  border: 1px solid #ffffff3f;
  border-bottom: 4px solid #b177ff !important;
  background: #00000080;
  transition: 0.05s all;
}





/*Password Generator*/

.container{
  width: 500px;	
  max-height: -moz-fit-content;
  border-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
	  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.container h2{
	color: #f9f9f9;
  font-weight: 600;
  font-size: 1.31rem;
  padding: 1rem 1.75rem;
  border-bottom: 1px solid #d4dbe538;
	text-align: center;
}
.wrapper{
  margin: 1.25rem 1.75rem;
}
.wrapper .input-box{
  position: relative;
}

.input-box input{
  font-weight: 500;
  letter-spacing: 1.4px;
  border: 0;
  outline: none;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  color: #f9f9f9;
  margin: 8px 0;
  text-align: left;
  font-size: 16px;
  transition: 0.4s;
}

.input-box input:hover{
	color:#b177ff;
}
.input-box span{
	color: #b177ff!important;
	margin-top: 15px;
  position: absolute;
  right: 8px;
  cursor: pointer;
	padding: 8px 8px 8px 8px;	
}
.input-box span:hover{
  color: #f9f9f9!important;
	background: #b177ff;
	border-radius: 4px;
	transition:0.2s all;

	
}
.wrapper .pass-indicator{
  width: 100%;
  height: 6px;
  position: relative;
background: rgba(255, 255, 255, 0.1);
  margin-top: 0.75rem;
  border-radius: 3px;
}
.pass-indicator::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
	margin-left: -221px;
}
.pass-indicator#weak::before{
  width: 20%;
  background: #E64A4A;
}
.pass-indicator#medium::before{
  width: 50%;
  background: #f1c80b;
}
.pass-indicator#strong::before{
  width: 100%;
  background: #4285F4;
}
.wrapper .pass-length{
  margin: 1.56rem 0 1.25rem;
}
.pass-length .details{
  display: flex;
  justify-content: space-between;
}
.pass-length input{
  width: 100%;
	border-bottom: none !important;
	-webkit-appearance: none;
  height: 4px;
  background-color: #eaeaea;
}

.pass-length input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance:none;  
	height:22px;
	width:22px;
	border-radius:50%;
	background:#000;
	cursor:pointer
}






.title {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
	text-align: center;
}

.options {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 23px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% / 2);
	
}

.option input[type='checkbox'] {
  appearance: none;
  outline: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #a1a1a1 !important;
  margin-right: 8px;
  position: relative;
	border-radius: 5px;
	transition: border-color 0.15s ease-in-out;
}

.option:first-child {
  pointer-events: none;
}

.option:first-child input {
  opacity: 0.7;
}

.option input[type='checkbox']:hover {
	background: #837f907d;
	
}

.option input[type='checkbox']:before {
  content: "";
  position: absolute;
  left: 9px;
  top: 6px;
  width: 4px;
  height: 8px;
  transform: rotate(45deg);
  border: solid;
  border-width: 0 2px 2px 0;
  border-color: transparent;
  opacity: 0;
 transition: opacity 0.15s ease-in-out, border-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.option input[type='checkbox']:checked {
	background: #b177ff;
	border: none!important;
}

.option input[type='checkbox']:checked:hover {
	background: #9c52ff;
	border: none!important;
}

.option input[type='checkbox']:checked:before {
  border-color: black;
  opacity: 1;
}

.option label {
  cursor: pointer;
  color: #4f4f4f;
  padding-left: 0.63rem;
}

.options .option label {
  color: #f9f9f9 !important;
}



.s {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}



/* Custom styles for the collapsible button */
.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 0;
  outline: none;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: #f9f9f9;
  margin: 8px 0;
  text-align: left;
  font-size: 16px;
  transition: 0.4s;
}

.collapsible:hover {
	background: rgb(255 255 255 / 25%);
}

.collapsible.active {
	background: rgb(255 255 255 / 25%);
}

.collapsible.active:hover {
	background: rgba(255, 255, 255, 0.1);
}

.collapsible i::before {
  content: "\f107";
  color: white;
  font-weight: bold;
  margin: 0;
}

.collapsible.active i::before {
  content: "\f106";
}

.collapsible p{
  margin: 0;
}


        
.collapsibleContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.alert-message {
	color: #bc2b38;
	font-weight: 700;
	text-align: left;
	font-size: 12px;
}